.container {
  height: 100%;
  width: 100%;
}

.welcome-screen,
.main-container {
  height: 100%;
  width: calc(100% - 140px);
  position: relative;
}

.welcome-screen img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.opaque {
  background-color: white;
}

.nowrap {
  white-space: nowrap;
}

.progress-slider {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

.progress-field {
  background-color: rgba(128, 128, 128, 0.5);
  margin: 15px;
  width: 100px;
  font-size: 125%;
  text-align: center;
  cursor: pointer;
  padding: 50% 0;
  user-select: none;
}

.progress-field.selected {
  background-color: rgba(0, 152, 152, 0.75);
}

.topic-slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

.topic-field {
  background-color: rgba(128, 128, 128, 0.5);
  margin: 15px;
  width: 100px;
  font-size: 125%;
  text-align: center;
  cursor: pointer;
  padding: 50% 0;
  user-select: none;
}

.topic-field.selected {
  background-color: rgba(0, 152, 152, 0.75);
}

.layer-control {
  position: absolute;
  bottom: 0;
  left: 130px;
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid gray;
  border-radius: 10px;
  line-height: 150%;
}

.layer-control .heading {
  font-size: 130%;
  font-weight: bold;
}

.layer-control li {
  font-size: 120%;
  list-style: none;
  line-height: 150%;
  user-select: none;
}
