.app-container {
  height: 100%;
  width: 100%;
}

.welcome-screen,
.main-container {
  height: 100%;
  width: calc(100% - 140px);
  position: relative;
}

.welcome-screen img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.opaque {
  background-color: white;
}

.menu-slider {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 100%;
  background-color: transparent;
}

.menu-field {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 15px;
  border: 1px solid gray;
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 50% 0;
  user-select: none;
}

.progress-slider {
  right: 0;
  /*background-color: rgba(255, 255, 255, 0.75);*/
}

.progress-field {
}

.progress-field.selected {
  background-color: rgba(0, 152, 152, 0.75);
}

.topic-slider {
  left: 0;
  /*background-color: rgba(255, 255, 255, 0.75);*/
}

.topic-field {
}

.topic-field.selected {
  background-color: rgba(0, 152, 152, 0.75);
}

.modal-container-left {
  position: absolute;
  bottom: 0;
  left: 130px;
}

.modal-container-left-nomenu {
  left: 0 !important;
}

.modal-container-right {
  position: absolute;
  bottom: 0;
  right: 130px;
}

.reset-button {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  margin: 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

.reset-button a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.reset-button a:hover {
  text-decoration: none;
}
