.layer-control {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid gray;
  border-radius: 10px;
}

.layer-control .heading {
  font-size: 130%;
  font-weight: bold;
}

.layer-control .nowrap {
  white-space: nowrap;
}

.layer-control a {
  font-size: 90%;
}

.layer-control ul,
.layer-control label {
  margin: 0;
}

.layer-control li {
  list-style: none;
  line-height: 175%;
  user-select: none;
}

.layer-control .icon-info {
  height: 16px;
  vertical-align: text-bottom;
}
